Repository ArdentHQ/arkconnect-extension, pull requests merged in 2024-07, with the labels that each got.

#421 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#422 refactor: add version link to release log
  src/components/settings/others/AboutARK.tsx
  src/constants.ts
Labels: refactor

#423 feat: add shortcut to extension
  src/manifest.chrome.json
  src/manifest.firefox.json
Labels: feature

#424 refactor: add shortcut tip
  src/components/settings/others/AboutARK.tsx
  src/i18n/ns/misc.ts
  src/shared/components/utils/InfoBanner.tsx
  tailwind.config.js
Labels: refactor

#425 refactor: add shortcut onboarding slide to onboarding carousel
  src/assets/icons/shortcut-default-dark-green.svg
  src/assets/icons/shortcut-default-dark-navy.svg
  src/assets/icons/shortcut-default-light-green.svg
  src/assets/icons/shortcut-default-light-navy.svg
  src/assets/icons/shortcut-mac-dark-green.svg
  src/assets/icons/shortcut-mac-dark-navy.svg
  src/assets/icons/shortcut-mac-light-green.svg
  src/assets/icons/shortcut-mac-light-navy.svg
  src/i18n/ns/pages.ts
  src/pages/Onboarding.tsx
  src/shared/components/icon/illustration/ShortcutIcon.tsx
  src/shared/components/icon/index.generated.tsx
  src/shared/components/progress/ProgressBar.tsx
Labels: refactor

#427 refactor: use os hook
  src/components/settings/others/AboutARK.tsx
  src/constants.ts
  src/lib/hooks/useOs.ts
  src/pages/Onboarding.tsx
  src/shared/components/icon/illustration/ShortcutIcon.tsx
Labels: refactor

#426 fix: prevent theme from changing when addresses are removed
  src/lib/hooks/useResetExtension.ts
  src/lib/utils/localStorage.ts
  src/pages/ForgotPassword.tsx
  src/pages/Logout.tsx
Labels: bugfix

#429 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#430 fix: version link firefox
  src/components/settings/others/AboutARK.tsx
Labels: bugfix

#431 fix: adjust keyboard shortcut
  src/assets/icons/shortcut-default-dark-green.svg
  src/assets/icons/shortcut-default-dark-navy.svg
  src/assets/icons/shortcut-default-light-green.svg
  src/assets/icons/shortcut-default-light-navy.svg
  src/assets/icons/shortcut-mac-dark-green.svg
  src/assets/icons/shortcut-mac-dark-navy.svg
  src/assets/icons/shortcut-mac-light-green.svg
  src/assets/icons/shortcut-mac-light-navy.svg
  src/i18n/ns/misc.ts
  src/i18n/ns/pages.ts
  src/manifest.chrome.json
  src/manifest.firefox.json
  src/shared/components/icon/index.generated.tsx
Labels: bugfix

#434 fix: only apply fee regex on fee input
  src/components/send/SendForm.tsx
Labels: bugfix

#436 chore: update onboarding shortcut images
  src/assets/icons/shortcut-default-dark-green.svg
  src/assets/icons/shortcut-default-dark-navy.svg
  src/assets/icons/shortcut-default-light-green.svg
  src/assets/icons/shortcut-default-light-navy.svg
  src/assets/icons/shortcut-mac-dark-green.svg
  src/assets/icons/shortcut-mac-dark-navy.svg
  src/assets/icons/shortcut-mac-light-green.svg
  src/assets/icons/shortcut-mac-light-navy.svg
  src/lib/store/ui/index.ts
  src/shared/components/icon/index.generated.tsx
Labels: chore

#428 chore: merge rc into main
  package.json
  pnpm-lock.yaml
  src/assets/icons/shortcut-default-dark-green.svg
  src/assets/icons/shortcut-default-dark-navy.svg
  src/assets/icons/shortcut-default-light-green.svg
  src/assets/icons/shortcut-default-light-navy.svg
  src/assets/icons/shortcut-mac-dark-green.svg
  src/assets/icons/shortcut-mac-dark-navy.svg
  src/assets/icons/shortcut-mac-light-green.svg
  src/assets/icons/shortcut-mac-light-navy.svg
  src/components/approve/ApproveTransaction.tsx
  src/components/approve/ApproveVote.tsx
  src/components/approve/RequestedSignatureMessage.tsx
  src/components/connect/ErrorModal.tsx
  src/components/ledger/ApproveWithLedger.blocks.tsx
  src/components/send/SendForm.tsx
  src/components/settings/others/AboutARK.tsx
  src/constants.ts
  src/i18n/ns/common.ts
  src/i18n/ns/misc.ts
  src/i18n/ns/pages.ts
  src/lib/context/ErrorHandler.tsx
  src/lib/hooks/useOs.ts
  src/lib/hooks/useResetExtension.ts
  src/lib/store/ui/index.ts
  src/lib/utils/localStorage.ts
  src/manifest.chrome.json
  src/manifest.firefox.json
  src/pages/ForgotPassword.tsx
  src/pages/Logout.tsx
  src/pages/Onboarding.tsx
  src/pages/Send.tsx
  src/pages/Vote.tsx
  src/shared/components/icon/illustration/ShortcutIcon.tsx
  src/shared/components/icon/index.generated.tsx
  src/shared/components/progress/ProgressBar.tsx
  src/shared/components/utils/InfoBanner.tsx
  tailwind.config.js
Labels: chore

#435 refactor: add chevrons to onboarding screens
  src/assets/icons/chevron-left.svg
  src/assets/icons/chevron-right.svg
  src/pages/Onboarding.tsx
  src/shared/components/icon/index.generated.tsx
  src/shared/components/progress/ProgressBar.tsx
  tailwind.config.js
Labels: refactor

#432 feat: upload qr
  package.json
  pnpm-lock.yaml
  src/assets/icons/qr-code.svg
  src/assets/icons/qr-drag-and-drop-dark.svg
  src/assets/icons/qr-drag-and-drop.svg
  src/assets/icons/upload-background-dark.svg
  src/assets/icons/upload-background.svg
  src/components/send/SendModalButton.tsx
  src/components/settings/SubPageLayout.tsx
  src/i18n/ns/common.ts
  src/i18n/ns/error.ts
  src/i18n/ns/pages.ts
  src/pages/Send.tsx
  src/shared/components/icon/index.generated.tsx
  src/shared/components/modal/Modal.tsx
Labels: feature

#437 refactor: upload qr modal
  src/components/send/UploadQRModal.tsx
  src/pages/Send.tsx
Labels: refactor

#438 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
  src/lib/utils/formatCurrency.ts
Labels: chore

#440 refactor: preload fee section on forms
  src/pages/Send.tsx
  src/pages/Vote.tsx
Labels: refactor

#441 refactor: persist errors on send form
  src/components/send/SendForm.tsx
  src/pages/Send.tsx
Labels: refactor

#446 fix: progress bar transtion on firefox
  src/shared/components/progress/ProgressBar.tsx
  tailwind.config.js
Labels: bugfix

#445 refactor: disable qr upload button on firefox
  src/components/send/SendModalButton.tsx
  src/i18n/ns/pages.ts
Labels: refactor

#444 fix: wallet already exists error page styles
  src/components/connect/ErrorModal.tsx
Labels: bugfix

#447 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#448 fix: upload button disabled styles
  package.json
  pnpm-lock.yaml
  src/css/buttons.css
Labels: bugfix

#443 chore: merge rc into main
  package.json
  pnpm-lock.yaml
  src/assets/icons/chevron-left.svg
  src/assets/icons/chevron-right.svg
  src/assets/icons/qr-code.svg
  src/assets/icons/qr-drag-and-drop-dark.svg
  src/assets/icons/qr-drag-and-drop.svg
  src/assets/icons/upload-background-dark.svg
  src/assets/icons/upload-background.svg
  src/components/approve/ApproveFooter.tsx
  src/components/approve/ApproveTransaction.tsx
  src/components/approve/ApproveVote.tsx
  src/components/connect/ErrorModal.tsx
  src/components/fees/FeeOption.tsx
  src/components/fees/FeeOptionsList.tsx
  src/components/fees/FeeSection.tsx
  src/components/send/SendForm.tsx
  src/components/send/SendModalButton.tsx
  src/components/send/UploadQRModal.tsx
  src/components/settings/SubPageLayout.tsx
  src/components/vote/VoteFee.tsx
  src/constants.ts
  src/css/buttons.css
  src/i18n/ns/action.ts
  src/i18n/ns/common.ts
  src/i18n/ns/error.ts
  src/i18n/ns/pages.ts
  src/lib/utils/formatCurrency.ts
  src/pages/Onboarding.tsx
  src/pages/Send.tsx
  src/pages/Vote.tsx
  src/shared/components/icon/index.generated.tsx
  src/shared/components/modal/Modal.tsx
  src/shared/components/progress/ProgressBar.tsx
  tailwind.config.js
Labels: chore

#449 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore
