Repository ArdentHQ/arkconnect-extension, pull requests merged in 2024-04, with the labels that each got.

#202 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#203 refactor: favicon color-based border
  package.json
  pnpm-lock.yaml
  src/components/connections/ConnectionLogoImage.tsx
  src/components/connections/ConnectionsList.tsx
  src/lib/utils/convertHexToRgba.test.ts
  src/lib/utils/convertHexToRgba.ts
Labels: refactor

#209 refactor: expose version
  DOCUMENTATION.md
  src/ArkConnectInPageProvider.ts
Labels: refactor

#210 chore: update psdk packages to v1.3.0
  package.json
  pnpm-lock.yaml
Labels: chore

#211 fix: default styles for connection logos on error
  src/components/connections/ConnectionLogoImage.tsx
Labels: bugfix

#213 feat: send & receive buttons in home page
  src/assets/icons/receive.svg
  src/assets/icons/send.svg
  src/components/home/TransactionButtons.tsx
  src/css/buttons.css
  src/i18n/ns/common.ts
  src/i18n/ns/pages.ts
  src/pages/Home.tsx
  src/shared/components/icon/index.generated.tsx
Labels: feature

#220 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#216 feat: handle votes in transaction overview
  src/components/home/LatestTransactions.blocks.tsx
  src/i18n/ns/common.ts
  src/lib/hooks/useDelegateInfo.ts
Labels: feature

#217 fix: update transaction list when changing address
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/home/LatestTransactions.tsx
Labels: bugfix

#223 feat: initial transaction details page
  src/components/home/LatestTransactions.blocks.tsx
  src/i18n/ns/pages.ts
  src/pages/TransactionDetails.tsx
  src/routing/index.ts
Labels: feature

#218 feat: add "view more" button for transactions section
  src/components/home/LatestTransactions.blocks.tsx
  src/components/home/LatestTransactions.tsx
  src/css/buttons.css
  src/i18n/ns/common.ts
Labels: feature

#226 refactor: hide send/receive buttons
  src/pages/Home.tsx
Labels: refactor

#228 fix: solve error for non voting transactions
  src/lib/hooks/useDelegateInfo.ts
Labels: bugfix

#230 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#242 refactor: hide tooltip for details page
  src/components/home/LatestTransactions.utils.tsx
  src/components/transaction/Transaction.blocks.tsx
  src/components/wallet/Amount.tsx
Labels: refactor

#243 fix: add padding to multipayment badge
  src/components/home/LatestTransactions.blocks.tsx
Labels: bugfix

#244 refactor: use delegate info to display delegate address
  src/components/home/LatestTransactions.utils.tsx
  src/components/transaction/details/TransactionBody.tsx
  src/lib/hooks/useDelegateInfo.ts
Labels: refactor

#247 refactor: display demo app button
  src/components/settings/others/AboutARK.tsx
  src/i18n/ns/misc.ts
Labels: refactor

#248 refactor: adjust dropdown shadow
  src/components/settings/SettingsMenu.tsx
  src/shared/components/header/AddressesDropdown.tsx
  tailwind.config.js
Labels: refactor

#250 refactor: adjust balance card radius
  src/pages/Home.tsx
Labels: refactor

#256 refactor: display full transaction id in tooltip
  src/components/transaction/details/TransactionBody.tsx
Labels: refactor

#257 refactor: display dash for non-payment transactions
  src/components/home/LatestTransactions.utils.tsx
Labels: refactor

#253 feat: loading state for transaction details
  src/pages/TransactionDetails.tsx
Labels: feature

#252 feat: loading state for latest transactions list
  src/components/home/LatestTransactions.tsx
Labels: feature

#246 fix: display fiat values correctly
  src/components/settings/others/ChangeLocalCurrency.tsx
  src/lib/context/Profile.tsx
  src/pages/TransactionDetails.tsx
Labels: bugfix

#255 refactor: timestamp format in details
  src/components/transaction/details/TransactionBody.tsx
  src/lib/utils/formatUnixTimestsamp.test.ts
  src/lib/utils/formatUnixTimestsamp.ts
  src/lib/utils/getTimeAgo.ts
Labels: refactor

#251 refactor: update blocks and util components
  src/components/home/LatestTransactions.blocks.tsx
  src/components/home/LatestTransactions.utils.tsx
  src/components/transaction/details/TransactionHeader.tsx
Labels: refactor

#259 fix: remove redundant amount tooltips
  src/components/wallet/Amount.tsx
Labels: bugfix

#262 fix: skeleton loaders not appearing
  src/components/home/LatestTransactions.blocks.tsx
Labels: bugfix

#263 refactor: swap vote and unvote positions in transaction details
  src/components/transaction/details/TransactionBody.tsx
Labels: refactor

#264 refactor: trim address in transaction pages
  src/components/home/LatestTransactions.blocks.tsx
  src/components/transaction/Transaction.blocks.tsx
  src/components/transaction/details/TransactionBody.tsx
Labels: refactor

#266 fix: add custom scroll to addresses dropdown
  src/shared/components/header/AddressesDropdown.tsx
Labels: bugfix

#268 fix: remove outline for transaction list in firefox
  src/components/home/LatestTransactions.blocks.tsx
Labels: bugfix

#261 chore: upgrade to pnpm v9
  .github/workflows/build.yml
  .github/workflows/deps.yml
  .github/workflows/format.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  pnpm-lock.yaml
Labels: chore

#265 refactor: re-enable send/receive buttons
  src/components/home/LatestTransactions.blocks.tsx
  src/components/home/LatestTransactions.tsx
  src/components/home/TransactionButtons.tsx
  src/pages/Home.tsx
  src/pages/Receive.tsx
  src/pages/Send.tsx
  src/routing/index.ts
Labels: refactor
