Repository ArdentHQ/arkconnect-extension, pull requests merged in 2024-03, with the labels that each got.

#49 refactor: event handlers in `background.ts`
  src/OneTimeEventHandlers.ts
  src/background.ts
  src/components/AutoUnlockWrapper.tsx
  src/components/settings/others/AutoLockTimer.tsx
  src/content.ts
  src/lib/background/eventListenerHandlers.ts
Labels: refactor

#57 fix: persist profile data on extension restart
  src/background.ts
  src/lib/background/extension.ts
  src/lib/background/extension.wallet.primary.ts
  src/lib/background/handleAutoLock.ts
Labels: bugfix

#53 fix: address settings overflow issue
  src/components/wallet/AddressSettings.tsx
Labels: bugfix

#48 refactor: persist wallet creation data to sdk profile
  src/background.ts
  src/components/AutoUnlockWrapper.tsx
  src/components/settings/SetupPassword.tsx
  src/components/steps/StepsNavigation.tsx
  src/components/wallet/create/ConfirmPassphrase.tsx
  src/components/wallet/create/GeneratePassphrase.tsx
  src/components/wallet/create/index.tsx
  src/lib/background/contracts.ts
  src/lib/utils/env.storage.ts
Labels: refactor

#60 chore: include rc- branches in extension build
  .github/workflows/release.yml
Labels: chore

#70 chore: include root files in prettier
  .eslintrc.json
  .ncurc.json
  .prettierignore
  package.json
  postcss.config.js
  tailwind.config.js
  tsconfig.json
  tsconfig.node.json
  vite.production.config.ts
  vitest.setup.ts
Labels: chore

#71 fix: pointer cursor on about links
  src/shared/components/button/RowLayout.tsx
Labels: bugfix

#72 chore: remove unused packages
  package.json
  pnpm-lock.yaml
  src/lib/services/HttpClient.ts
Labels: chore

#43 refactor: tailwind for icon component
  src/components/Logo.tsx
  src/components/approve/ApproveBody.tsx
  src/components/approve/TransactionApprovedBody.tsx
  src/components/approve/VoteApprovedBody.tsx
  src/components/connect/ConnectWithWallet.tsx
  src/components/connect/ErrorModal.tsx
  src/components/connections/ConnectionLogoImage.tsx
  src/components/connections/ConnectionsList.tsx
  src/components/ledger/ApproveWithLedger.tsx
  src/components/ledger/LedgerConnectionStep.tsx
  src/components/ledger/SignMessage.tsx
  src/components/settings/SettingsMenu.tsx
  src/components/settings/SettingsOption.tsx
  src/components/settings/general/CreateOrImportAddress.tsx
  src/components/settings/others/AboutARK.tsx
  src/components/settings/others/AutoLockTimer.tsx
  src/components/settings/others/ChangeLocalCurrency.tsx
  src/components/toast/Toast.tsx
  src/components/wallet/ConnectionIndicator.tsx
  src/components/wallet/ConnectionStatus.tsx
  src/components/wallet/address/Address.blocks.tsx
  src/components/wallet/create/GeneratePassphrase.tsx
  src/css/variables.css
  src/pages/Connect.tsx
  src/pages/EnterPassword.tsx
  src/pages/Home.tsx
  src/pages/ImportWithLedger.tsx
  src/pages/Logout.tsx
  src/pages/SplashScreen.tsx
  src/pages/TransactionApproved.tsx
  src/pages/VoteApproved.tsx
  src/shared/components/actions/ActionHeader.tsx
  src/shared/components/button/BigButton.tsx
  src/shared/components/button/Button.tsx
  src/shared/components/button/RowLayout.tsx
  src/shared/components/header/AddressesDropdown.tsx
  src/shared/components/header/Header.tsx
  src/shared/components/icon/illustration/ControlConnectionsIcon.tsx
  src/shared/components/icon/illustration/EmptyConnectionsIcon.tsx
  src/shared/components/icon/illustration/FingerprintIcon.tsx
  src/shared/components/icon/illustration/LockIcon.tsx
  src/shared/components/icon/illustration/SmallWarningIcon.tsx
  src/shared/components/icon/illustration/TransactionsPassphraseIcon.tsx
  src/shared/components/icon/illustration/WarningIcon.tsx
  src/shared/components/icon/index.tsx
  src/shared/components/input/Input.tsx
  src/shared/components/input/PasswordInput.tsx
  src/shared/components/loader/LoadingModal.tsx
  src/shared/components/modal/Modal.tsx
  src/shared/components/nav/ArrowButton.tsx
  src/shared/components/nav/CloseButton.tsx
  tailwind.config.js
Labels: refactor

#47 refactor: tailwind for radio toggle input
  src/css/inputs.css
  src/css/transitions.css
  src/css/variables.css
  src/lib/hooks/useThemeMode.ts
  src/main.css
  src/shared/components/input/ToggleSwitch.tsx
  tailwind.config.js
Labels: refactor

#69 refactor: text area tailwind
  src/css/inputs.css
  src/shared/components/input/Textarea.tsx
Labels: refactor

#45 refactor: tailwind for radio button
  src/css/general.css
  src/css/transitions.css
  src/css/variables.css
  src/main.css
  src/shared/components/input/RadioButton.tsx
Labels: refactor

#73 chore: remove socks proxy agent remnants
  vite.production.config.ts
Labels: chore

#74 chore: remove unused `crypto-js` dependency
  README.md
  package.json
  pnpm-lock.yaml
  public/README.md
  vite.production.config.ts
Labels: chore

#78 chore: fix build errors
  src/OneTimeEventHandlers.ts
  src/background.ts
  src/components/AutoUnlockWrapper.tsx
  src/components/settings/SetupPassword.tsx
  src/components/wallet/create/ConfirmPassphrase.tsx
  src/components/wallet/create/index.tsx
  src/lib/background/extension.ts
Labels: chore

#75 refactor: tailwind for text inputs
  src/css/inputs.css
  src/shared/components/input/Input.tsx
  src/shared/components/input/PasswordInput.tsx
  tailwind.config.js
Labels: refactor

#76 chore: remove unused code & exports
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/ArkConnectInPageProvider.ts
  src/components/Logo.tsx
  src/components/approve/NoTestnetAddressFound.tsx
  src/components/connections/WalletConnections.tsx
  src/components/ledger/SignMessage.tsx
  src/components/settings/others/AboutARK.tsx
  src/components/wallet/TestnetLabel.tsx
  src/dev/utils/dev.ts
  src/lib/background/contracts.ts
  src/lib/background/extension.ts
  src/lib/background/extension.wallet.ts
  src/lib/hooks/useNoTestnetAddressFound.ts
  src/lib/utils/assertions.ts
  src/lib/utils/transactionHelpers.ts
  src/tests/utils.tsx
  vite.production.config.ts
Labels: chore

#79 fix: loading screen background color
  src/shared/components/loader/LoadingModal.tsx
Labels: bugfix

#46 refactor: tailwind for checkbox input
  src/css/inputs.css
  src/css/variables.css
  src/shared/components/input/Checkbox.tsx
Labels: refactor

#83 fix: adjust leading for each typeset
  src/css/general.css
Labels: bugfix

#82 refactor: rotate arrow when dropdown is open
  src/shared/components/header/Header.tsx
Labels: refactor

#84 refactor: tailwind for big button
  src/pages/InitialImportWallet.tsx
  src/shared/components/button/BigButton.tsx
Labels: refactor

#56 refactor: add outline to primary and destructive buttons
  src/shared/components/button/Button.tsx
Labels: refactor

#61 refactor: network selection
  src/components/AutoUnlockWrapper.tsx
  src/components/ledger/ImportWallets.tsx
  src/components/ledger/LedgerConnectionStep.tsx
  src/components/settings/general/CreateOrImportAddress.tsx
  src/components/wallet/create/ConfirmPassphrase.tsx
  src/components/wallet/create/GeneratePassphrase.tsx
  src/components/wallet/create/index.tsx
  src/components/wallet/import/EnterPassphrase.tsx
  src/components/wallet/import/index.tsx
  src/lib/hooks/useActiveNetwork.ts
  src/lib/hooks/useNetwork.ts
  src/lib/store/ui/index.ts
  src/lib/utils/networkUtils.ts
  src/pages/ImportWithLedger.tsx
Labels: refactor

#86 feat: add disconnect option to connection modal
  src/components/connections/ConnectionsList.tsx
  src/components/connections/RemoveConnections.tsx
  src/components/wallet/ConnectedAddress.tsx
  src/components/wallet/ConnectionStatus.tsx
  src/components/wallet/DisconnectSessionModal.tsx
  src/shared/components/button/Button.tsx
Labels: feature

#77 refactor: tailwind for password input
  src/shared/components/input/PasswordInput.tsx
Labels: refactor

#88 fix: disconnect icon color
  src/components/connections/ConnectionsList.tsx
Labels: bugfix

#85 fix: onboarding screen issue in Firefox
  src/App.tsx
  src/components/AutoUnlockWrapper.tsx
  src/lib/background/eventListenerHandlers.ts
  src/lib/hooks/useBackgroundEventHandler.ts
Labels: bugfix

#94 refactor: apply prettier to css files
  package.json
  src/css/general.css
  src/css/inputs.css
  src/css/transitions.css
  src/css/variables.css
  src/main.css
Labels: refactor

#91 fix: firefox outline color
  src/main.css
Labels: bugfix

#55 refactor: show outline on demo link
  src/pages/Home.tsx
  src/shared/components/nav/ExternalLink.tsx
Labels: refactor

#89 refactor: tailwind for loader component
  src/shared/components/loader/Loader.tsx
Labels: refactor

#95 feat: add copy button to navbar
  src/assets/icons/copy.svg
  src/components/wallet/CopyAddress.tsx
  src/shared/components/header/Header.tsx
Labels: feature

#90 refactor: tailwind for button component
  src/components/connect/ErrorModal.tsx
  src/components/connections/ConnectionsList.tsx
  src/components/ledger/InitiateListenLedger.tsx
  src/components/settings/SetupPassword.tsx
  src/components/settings/general/ChangeLocalPassword.tsx
  src/components/settings/general/ViewSensitiveInfo.tsx
  src/components/settings/general/YourPrivateKey.tsx
  src/components/settings/others/MultipleWalletLogout.tsx
  src/components/wallet/ConnectedAddress.tsx
  src/components/wallet/create/ConfirmPassphrase.tsx
  src/components/wallet/create/GeneratePassphrase.tsx
  src/components/wallet/import/EnterPassphrase.tsx
  src/components/wallet/import/ImportedWallet.tsx
  src/css/buttons.css
  src/main.css
  src/pages/EnterPassword.tsx
  src/pages/ForgotPassword.tsx
  src/pages/Logout.tsx
  src/shared/components/button/Button.tsx
Labels: refactor

#92 refactor: passphrase input tailwind
  src/components/settings/general/YourPassphrase.tsx
  src/components/settings/general/YourPrivateKey.tsx
  src/components/wallet/import/EnterPassphrase.tsx
  src/css/general.css
  src/css/inputs.css
  src/shared/components/input/PassphraseInput.tsx
Labels: refactor

#97 fix: inputs focus outline issue
  src/main.css
  src/shared/components/header/Header.tsx
Labels: bugfix

#87 fix: locking extension during wallet creation
  src/App.tsx
  src/components/AutoUnlockWrapper.tsx
  src/components/wallet/create/index.tsx
  src/components/wallet/import/index.tsx
  src/lib/background/eventListenerHandlers.ts
  src/lib/hooks/useBackgroundEventHandler.ts
  src/lib/hooks/useHaveWalletsCallback.tsx
Labels: bugfix

#107 refactor: add prettier-plugin-tailwindcss
  .prettierrc.json
  package.json
  pnpm-lock.yaml
  src/components/Logo.tsx
  src/components/approve/TransactionApprovedBody.tsx
  src/components/approve/VoteApprovedBody.tsx
  src/components/connect/ErrorModal.tsx
  src/components/connections/ConnectionLogoImage.tsx
  src/components/connections/ConnectionsList.tsx
  src/components/ledger/ApproveWithLedger.tsx
  src/components/ledger/LedgerConnectionStep.tsx
  src/components/settings/SettingsMenu.tsx
  src/components/settings/SettingsOption.tsx
  src/components/settings/others/AboutARK.tsx
  src/components/wallet/ConnectedAddress.tsx
  src/css/buttons.css
  src/css/general.css
  src/css/inputs.css
  src/pages/Home.tsx
  src/pages/Logout.tsx
  src/pages/SplashScreen.tsx
  src/pages/TransactionApproved.tsx
  src/pages/VoteApproved.tsx
  src/shared/components/actions/ActionHeader.tsx
  src/shared/components/button/BigButton.tsx
  src/shared/components/header/AddressesDropdown.tsx
  src/shared/components/header/Header.tsx
  src/shared/components/input/Checkbox.tsx
  src/shared/components/input/Input.tsx
  src/shared/components/input/PassphraseInput.tsx
  src/shared/components/input/PasswordInput.tsx
  src/shared/components/input/RadioButton.tsx
  src/shared/components/input/Textarea.tsx
  src/shared/components/input/ToggleSwitch.tsx
  src/shared/components/layout/SafeOutlineOverflowContainer.tsx
  src/shared/components/loader/Loader.tsx
  src/shared/components/loader/LoadingModal.tsx
Labels: refactor

#100 refactor: use tailwindcss on header
  package.json
  pnpm-lock.yaml
  src/components/wallet/ConnectionStatus.tsx
  src/components/wallet/CopyAddress.tsx
  src/shared/components/header/AddressesDropdown.tsx
  src/shared/components/header/Header.tsx
  src/shared/components/header/HeaderButton.tsx
  src/shared/components/header/HeaderWrapper.tsx
  tailwind.config.js
Labels: refactor

#108 refactor: modal component tailwind
  src/pages/Approve.tsx
  src/shared/components/modal/Modal.tsx
Labels: refactor

#106 refactor: toast component tailwind
  src/components/toast/Toast.tsx
  src/components/toast/ToastContainer.tsx
  tailwind.config.js
Labels: refactor

#102 refactor: tailwind for settings menu
  src/components/settings/SettingsMenu.tsx
  src/components/settings/SettingsOption.tsx
  src/pages/Approve.tsx
  src/shared/components/modal/Modal.tsx
Labels: refactor

#109 refactor: use tailwindcss on home page
  src/pages/Home.tsx
  src/shared/components/header/HeaderWrapper.tsx
  tailwind.config.js
Labels: refactor

#104 refactor: store primary wallet info in wallet data
  package.json
  pnpm-lock.yaml
  src/OneTimeEventHandlers.ts
  src/background.helpers.ts
  src/background.ts
  src/dev/utils/dev.ts
  src/lib/background/assertions.ts
  src/lib/background/contracts.ts
  src/lib/background/extension.wallet.primary.ts
  src/lib/context/Profile.tsx
  src/lib/events/index.ts
Labels: refactor

#96 refactor: store profile data in settings
  src/OneTimeEventHandlers.ts
  src/components/NextPageMiddleware.tsx
  src/components/wallet/create/ConfirmPassphrase.tsx
  src/components/wallet/create/index.tsx
  src/lib/background/contracts.ts
Labels: refactor

#113 fix: color for 'yes' button in disconnect modal
  src/css/buttons.css
Labels: bugfix

#115 fix: checkbox group hover state
  src/css/inputs.css
Labels: bugfix

#116 fix: address dropdown closes on outside click
  src/shared/components/header/AddressesDropdown.tsx
Labels: bugfix

#118 fix: header z-index issue
  src/main.css
Labels: bugfix

#117 fix: increase padding between icons
  src/shared/components/header/Header.tsx
Labels: bugfix

#120 refactor: replace flex container with tailwindcss
  src/components/NextPageMiddleware.tsx
  src/components/connect/ConnectWithWallet.tsx
  src/components/connect/ErrorModal.tsx
  src/components/connect/WalletCard.tsx
  src/components/connections/ConnectionsList.tsx
  src/components/connections/EmptyConnections.tsx
  src/components/ledger/ApproveWithLedger.tsx
  src/components/ledger/ImportWallets.tsx
  src/components/ledger/LedgerConnectionStep.tsx
  src/components/ledger/Step.tsx
  src/components/settings/SetupPassword.tsx
  src/components/settings/SubPageLayout.tsx
  src/components/settings/general/ChangeLocalPassword.tsx
  src/components/settings/general/CreateOrImportAddress.tsx
  src/components/settings/general/EditAddressName.tsx
  src/components/settings/general/SelectNetworkTypeModal.tsx
  src/components/settings/general/ViewSensitiveInfo.tsx
  src/components/settings/general/YourPassphrase.tsx
  src/components/settings/general/YourPrivateKey.tsx
  src/components/settings/others/AboutARK.tsx
  src/components/settings/others/AutoLockTimer.tsx
  src/components/settings/others/ChangeLocalCurrency.tsx
  src/components/settings/others/MultipleWalletLogout.tsx
  src/components/steps/StepsNavigation.tsx
  src/components/toast/ToastContainer.tsx
  src/components/wallet/AddressSettings.tsx
  src/components/wallet/Balance.tsx
  src/components/wallet/ConnectedAddress.tsx
  src/components/wallet/address/Address.blocks.tsx
  src/components/wallet/create/ConfirmPassphrase.tsx
  src/components/wallet/create/GeneratePassphrase.tsx
  src/components/wallet/import/EnterPassphrase.tsx
  src/main.css
  src/pages/CreateWallet.tsx
  src/pages/EnterPassword.tsx
  src/pages/ForgotPassword.tsx
  src/pages/ImportWallet.tsx
  src/pages/ImportWithLedger.tsx
  src/pages/Logout.tsx
  src/pages/Onboarding.tsx
  src/pages/VoteApproved.tsx
  src/pages/WalletNotFound.tsx
  src/shared/components/handleStates/HandleLoadingState.tsx
  src/shared/components/handleStates/LoadingFullScreen.tsx
  src/shared/components/header/AddressesDropdown.tsx
  src/shared/components/header/Header.tsx
  src/shared/components/index.ts
  src/shared/components/layout/FlexContainer.tsx
  src/shared/components/layout/Layout.tsx
  src/shared/components/loader/LoadingModal.tsx
  src/shared/components/nav/ArrowButton.tsx
  src/shared/components/nav/CloseButton.tsx
  src/shared/components/nav/NavButton.tsx
  src/shared/components/progress/ProgressBar.tsx
  tailwind.config.js
Labels: refactor

#112 refactor: improvements on vitest setup
  .github/workflows/test.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  vite.config.ts
  vitest.config.ts
  vitest.setup.ts
Labels: refactor

#124 chore: only include utils in coverage
  vitest.config.ts
Labels: chore

#133 fix: onboarding page styles
  src/components/settings/SetupPassword.tsx
  src/shared/components/loader/LoadingModal.tsx
Labels: bugfix

#132 refactor: remove `Container` component
  src/App.tsx
  src/components/connect/ConnectFooter.tsx
  src/components/connect/WalletCard.tsx
  src/components/connections/ConnectionLogoImage.tsx
  src/components/connections/RemoveConnections.tsx
  src/components/ledger/ApproveWithLedger.tsx
  src/components/ledger/ImportWallets.tsx
  src/components/ledger/LedgerConnectionStep.tsx
  src/components/settings/SettingsMenu.tsx
  src/components/settings/SubPageLayout.tsx
  src/components/settings/general/ChangeLocalPassword.tsx
  src/components/settings/general/CreateOrImportAddress.tsx
  src/components/settings/general/EditAddressName.tsx
  src/components/settings/general/SelectNetworkTypeModal.tsx
  src/components/settings/general/ViewSensitiveInfo.tsx
  src/components/settings/general/YourPassphrase.tsx
  src/components/settings/general/YourPrivateKey.tsx
  src/components/settings/others/AboutARK.tsx
  src/components/settings/others/AutoLockTimer.tsx
  src/components/settings/others/ChangeLocalCurrency.tsx
  src/components/settings/others/MultipleWalletLogout.tsx
  src/components/steps/StepsNavigation.tsx
  src/components/wallet/ConnectedAddress.tsx
  src/components/wallet/DisconnectedAddress.tsx
  src/components/wallet/address/Address.blocks.tsx
  src/components/wallet/create/ConfirmPassphrase.tsx
  src/components/wallet/create/GeneratePassphrase.tsx
  src/components/wallet/import/EnterPassphrase.tsx
  src/components/wallet/import/ImportedWallet.tsx
  src/main.css
  src/pages/Connections.tsx
  src/pages/EnterPassword.tsx
  src/pages/ForgotPassword.tsx
  src/pages/ImportWithLedger.tsx
  src/pages/Onboarding.tsx
  src/shared/components/index.ts
  src/shared/components/layout/Container.tsx
  src/shared/components/modal/Modal.tsx
  src/shared/components/progress/ProgressBar.tsx
Labels: refactor

#134 refactor: tailwind for setup password page
  src/components/settings/SetupPassword.tsx
  src/css/general.css
Labels: refactor

#130 refactor: external link tailwind
  src/components/connect/ErrorModal.tsx
  src/components/ledger/LedgerConnectionStep.tsx
  src/components/settings/others/AboutARK.tsx
  src/pages/Home.tsx
  src/pages/TransactionApproved.tsx
  src/pages/VoteApproved.tsx
  src/shared/components/nav/ExternalLink.tsx
Labels: refactor

#136 fix: align about ark copy icon
  src/shared/components/button/RowLayout.tsx
Labels: bugfix

#123 fix: persist network
  src/components/wallet/form-persist/index.ts
  src/components/wallet/import/EnterPassphrase.tsx
  src/lib/hooks/useActiveNetwork.ts
Labels: bugfix

#125 fix: onboarding flow
  src/components/NextPageMiddleware.tsx
  src/components/wallet/create/index.tsx
Labels: bugfix

#142 fix: add underline when hovering over address details
  src/components/connect/WalletCard.tsx
  src/components/connections/ConnectionsList.tsx
  src/components/wallet/AddressSettings.tsx
  src/components/wallet/Amount.tsx
  src/components/wallet/address/Address.blocks.tsx
  src/shared/components/button/RowLayout.tsx
Labels: bugfix

#145 refactor: splash screen tailwind
  src/pages/SplashScreen.tsx
  tailwind.config.js
Labels: refactor

#146 refactor: password page tailwind
  src/pages/EnterPassword.tsx
  src/shared/components/nav/InternalLink.tsx
Labels: refactor

#147 fix: action card padding
  src/components/connect/WalletCard.tsx
Labels: bugfix

#135 refactor: remove `Paragraph` component
  src/components/connect/ConnectFooter.tsx
  src/components/connections/ConnectionsList.tsx
  src/components/connections/RemoveConnections.tsx
  src/components/ledger/ApproveWithLedger.tsx
  src/components/ledger/ImportWallets.tsx
  src/components/ledger/LedgerConnectionStep.tsx
  src/components/ledger/Step.tsx
  src/components/settings/general/ChangeLocalPassword.tsx
  src/components/settings/general/CreateOrImportAddress.tsx
  src/components/settings/general/EditAddressName.tsx
  src/components/settings/general/SelectNetworkTypeModal.tsx
  src/components/settings/general/ViewSensitiveInfo.tsx
  src/components/settings/general/YourPassphrase.tsx
  src/components/settings/general/YourPrivateKey.tsx
  src/components/settings/others/AboutARK.tsx
  src/components/settings/others/AutoLockTimer.tsx
  src/components/settings/others/ChangeLocalCurrency.tsx
  src/components/settings/others/MultipleWalletLogout.tsx
  src/components/steps/StepsNavigation.tsx
  src/components/wallet/AddressSettings.tsx
  src/components/wallet/Balance.tsx
  src/components/wallet/ConnectedAddress.tsx
  src/components/wallet/ConnectionStatus.tsx
  src/components/wallet/DisconnectedAddress.tsx
  src/components/wallet/address/Address.blocks.tsx
  src/components/wallet/create/ConfirmPassphrase.tsx
  src/components/wallet/create/GeneratePassphrase.tsx
  src/components/wallet/import/EnterPassphrase.tsx
  src/components/wallet/import/ImportedWallet.tsx
  src/css/general.css
  src/pages/ForgotPassword.tsx
  src/pages/ImportWithLedger.tsx
  src/pages/InitialImportWallet.tsx
  src/pages/Logout.tsx
  src/pages/VoteApproved.tsx
  src/pages/WalletNotFound.tsx
  src/shared/components/header/Header.tsx
  src/shared/components/index.ts
  src/shared/components/loader/LoadingModal.tsx
  src/shared/components/text/Paragraph.tsx
Labels: refactor

#148 fix: extension loading screen dark background mismatch
  src/shared/components/handleStates/LoadingFullScreen.tsx
Labels: bugfix

#152 refactor: remove styled components library and theme
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/Logo.tsx
  src/components/approve/ApproveFooter.tsx
  src/components/connect/ConnectFooter.tsx
  src/components/connections/ConnectionsList.tsx
  src/components/connections/RemoveConnections.tsx
  src/components/wallet/ConnectedAddress.tsx
  src/components/wallet/create/GeneratePassphrase.tsx
  src/lib/hooks/useThemeMode.ts
  src/shared/components/index.ts
  src/shared/components/layout/Grid.tsx
  src/shared/theme/categories/border.ts
  src/shared/theme/categories/browserCompatibility.ts
  src/shared/theme/categories/color.ts
  src/shared/theme/categories/layout.ts
  src/shared/theme/categories/shadow.ts
  src/shared/theme/categories/transition.ts
  src/shared/theme/categories/typography.ts
  src/shared/theme/index.ts
  src/shared/theme/variants/_utils.ts
  src/shared/theme/variants/buttons.ts
  src/shared/theme/variants/flex-variant.ts
  src/shared/theme/variants/index.ts
  src/shared/theme/variants/typesets.ts
  vite.production.config.ts
Labels: refactor

#131 refactor: store onboarded info in env data
  package.json
  pnpm-lock.yaml
  src/OneTimeEventHandlers.ts
  src/components/settings/SetupPassword.tsx
  src/components/wallet/create/index.tsx
  src/components/wallet/import/index.tsx
  src/dev/utils/dev.ts
  src/lib/background/contracts.ts
  src/lib/background/extension.ts
  src/lib/context/Profile.tsx
  src/lib/utils/assertions.test.ts
  src/lib/utils/env.storage.ts
  src/lib/utils/formatCurrency.test.ts
  src/lib/utils/getActiveCoin.test.ts
  src/lib/utils/localStorage.ts
  src/pages/ImportWithLedger.tsx
  vitest.setup.ts
Labels: refactor

#144 fix: unify copy address toasts
  src/components/wallet/CopyAddress.tsx
Labels: bugfix

#154 refactor: shadow and colors duplicate check
  src/css/buttons.css
  src/css/inputs.css
  src/css/variables.css
  src/shared/components/button/BigButton.tsx
  src/shared/components/button/RowLayout.tsx
  src/shared/components/input/PassphraseInput.tsx
  src/shared/components/input/Textarea.tsx
  src/shared/components/modal/Modal.tsx
  tailwind.config.js
Labels: refactor

#156 refactor: connected icon color
  src/components/ledger/LedgerConnectionStep.tsx
  src/components/ledger/utils/connectionSteps.ts
  src/components/wallet/ConnectionStatus.tsx
Labels: refactor

#153 refactor: check for tailwind duplications (spacing)
  src/components/approve/RequestedVoteBody.tsx
  src/components/approve/VoteApprovedBody.tsx
  src/components/connect/WalletCard.tsx
  src/components/connections/ConnectionLogoImage.tsx
  src/components/ledger/ImportWallets.tsx
  src/components/ledger/LedgerConnectionStep.tsx
  src/components/settings/SubPageLayout.tsx
  src/components/settings/others/AboutARK.tsx
  src/css/inputs.css
  src/main.css
  src/pages/Home.tsx
  src/pages/ImportWithLedger.tsx
  src/shared/components/button/BigButton.tsx
  src/shared/components/button/RowLayout.tsx
  src/shared/components/header/AddressesDropdown.tsx
  src/shared/components/input/Checkbox.tsx
  src/shared/components/input/ToggleSwitch.tsx
  src/shared/components/nav/NavButton.tsx
  src/shared/components/progress/ProgressBar.tsx
  tailwind.config.js
Labels: refactor

#164 fix: accept terms spacing
  src/components/settings/SetupPassword.tsx
Labels: bugfix

#159 fix: connected modal style improvements
  src/components/wallet/ConnectedAddress.tsx
Labels: bugfix

#160 fix: hide navbar on ledger pages
  src/pages/ImportWithLedger.tsx
  src/shared/components/header/Header.tsx
Labels: bugfix

#166 fix: missing setup password step
  src/OneTimeEventHandlers.ts
  src/lib/background/extension.ts
  src/pages/Logout.tsx
Labels: bugfix

#161 refactor: group class names for inputs
  src/css/buttons.css
  src/css/inputs.css
  src/css/variables.css
  tailwind.config.js
Labels: refactor

#165 refactor: update row layout to be used as a link
  src/components/settings/others/AboutARK.tsx
  src/shared/components/button/RowLayout.tsx
Labels: refactor

#167 fix: passphrase input styling
  src/shared/components/input/PassphraseInput.tsx
Labels: bugfix

#168 fix: adjust create password text color
  src/components/settings/SetupPassword.tsx
Labels: bugfix

#170 fix: set `hasOnboarded` flag when a wallet added
  src/OneTimeEventHandlers.ts
Labels: bugfix

#162 refactor: ledger states handling
  src/components/ledger/LedgerConnectionStep.tsx
  src/components/ledger/utils/connectionSteps.ts
  src/lib/Ledger/hooks/connection.ts
  src/pages/Approve.tsx
  src/shared/components/loader/Loader.tsx
Labels: refactor

#174 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#169 refactor: fiat value placement on action screens
  src/components/approve/ActionDetails.tsx
  src/components/approve/RequestedTransactionBody.tsx
  src/components/approve/RequestedVoteBody.tsx
  src/components/approve/TransactionApprovedBody.tsx
  src/components/approve/VoteApprovedBody.tsx
Labels: refactor

#176 fix: ledger error component styling
  src/pages/ImportWithLedger.tsx
Labels: bugfix

#173 fix: sync exchanges rates when running actions
  src/pages/Approve.tsx
Labels: bugfix

#177 refactor: recheck ledger list on clicking back button
  src/components/steps/StepsNavigation.tsx
  src/pages/ImportWithLedger.tsx
Labels: refactor

#181 refactor: rename `classNames` to `cn`
  src/components/connections/ConnectionLogoImage.tsx
  src/components/connections/ConnectionsList.tsx
  src/components/ledger/ApproveWithLedger.tsx
  src/components/ledger/ImportWallets.tsx
  src/components/ledger/Step.tsx
  src/components/settings/SubPageLayout.tsx
  src/components/settings/general/EditAddressName.tsx
  src/components/steps/StepsNavigation.tsx
  src/components/wallet/Amount.tsx
  src/components/wallet/address/Address.blocks.tsx
  src/components/wallet/create/GeneratePassphrase.tsx
  src/pages/EnterPassword.tsx
  src/pages/Onboarding.tsx
  src/shared/components/handleStates/LoadingFullScreen.tsx
  src/shared/components/header/AddressesDropdown.tsx
  src/shared/components/layout/Layout.tsx
  src/shared/components/progress/ProgressBar.tsx
Labels: refactor

#185 refactor: add migration to move `hasOnboarded` flag to sdk env
  src/lib/background/extension.ts
  src/lib/utils/env.background.ts
  src/lib/utils/localStorage.ts
  src/lib/utils/migrations/move-onboarded-status-to-env.test.ts
  src/lib/utils/migrations/move-onboarded-status-to-env.ts
  vitest.setup.ts
Labels: refactor

#182 refactor: i18n implementation & pages translations
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/approve/ActionDetails.tsx
  src/components/approve/ApproveFooter.tsx
  src/components/approve/RequestedSignatureMessage.tsx
  src/components/approve/RequestedTransactionBody.tsx
  src/components/approve/RequestedVoteBody.tsx
  src/components/approve/TransactionApprovedBody.tsx
  src/components/approve/VoteApprovedBody.tsx
  src/components/connect/ConnectFooter.tsx
  src/components/connect/ConnectWithWallet.tsx
  src/components/connect/ErrorModal.tsx
  src/components/connections/ConnectionsList.tsx
  src/components/connections/EmptyConnections.tsx
  src/components/ledger/ApproveWithLedger.tsx
  src/components/ledger/ImportWallets.tsx
  src/components/ledger/InitiateListenLedger.tsx
  src/components/ledger/LedgerConnectionStep.tsx
  src/components/wallet/create/GeneratePassphrase.tsx
  src/components/wallet/create/index.tsx
  src/components/wallet/import/EnterPassphrase.tsx
  src/components/wallet/import/ImportedWallet.tsx
  src/components/wallet/import/index.tsx
  src/i18n/index.ts
  src/i18n/ns/action.ts
  src/i18n/ns/common.ts
  src/i18n/ns/error.ts
  src/i18n/ns/index.ts
  src/i18n/ns/misc.ts
  src/i18n/ns/pages.ts
  src/pages/Approve.tsx
  src/pages/Connect.tsx
  src/pages/Connections.tsx
  src/pages/EnterPassword.tsx
  src/pages/ForgotPassword.tsx
  src/pages/Home.tsx
  src/pages/ImportWithLedger.tsx
  src/pages/Logout.tsx
  src/pages/Onboarding.tsx
  src/pages/TransactionApproved.tsx
  src/pages/VoteApproved.tsx
  src/pages/WalletNotFound.tsx
Labels: refactor

#188 fix: move ledger tx hooks outside of conditionals
  src/components/ledger/ApproveWithLedger.tsx
Labels: bugfix

#184 feat: implement custom fee for sending action
  src/ArkConnectInPageProvider.ts
  src/assets/icons/warning-triangle.svg
  src/components/approve/ActionBody.blocks.tsx
  src/components/approve/ActionBody.tsx
  src/components/approve/ApproveTransaction.tsx
  src/components/approve/HigherCustomFee.blocks.tsx
  src/components/ledger/ApproveWithLedger.tsx
  src/lib/background/eventListenerHandlers.ts
  src/lib/hooks/useSendTransferForm.ts
  src/shared/components/icon/index.generated.tsx
Labels: feature

#191 refactor: implement twMerge
  src/components/Logo.tsx
  src/components/ledger/ApproveWithLedger.tsx
  src/components/settings/SettingsOption.tsx
  src/components/settings/SubPageLayout.tsx
  src/components/steps/StepsNavigation.tsx
  src/shared/components/actions/ActionHeader.tsx
  src/shared/components/button/BigButton.tsx
  src/shared/components/button/Button.tsx
  src/shared/components/button/RowLayout.tsx
  src/shared/components/icon/index.tsx
  src/shared/components/input/Input.tsx
  src/shared/components/input/PassphraseInput.tsx
  src/shared/components/input/Textarea.tsx
  src/shared/components/layout/Layout.tsx
  src/shared/components/layout/SafeOutlineOverflowContainer.tsx
  src/shared/components/modal/Modal.tsx
  src/shared/components/nav/ExternalLink.tsx
  src/shared/components/nav/InternalLink.tsx
  src/shared/components/nav/NavButton.tsx
Labels: refactor

#178 refactor: Ledger address selection dark mode styling
  src/components/ledger/ImportWallets.tsx
  src/css/inputs.css
Labels: refactor

#193 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#196 fix: tooltips in Ledger approval page
  src/components/approve/ActionBody.blocks.tsx
  src/components/approve/ActionDetails.tsx
  src/components/approve/ActionDetailsValue.tsx
Labels: bugfix

#194 refactor: approve with ledger
  src/components/ledger/ApproveWithLedger.blocks.tsx
  src/components/ledger/ApproveWithLedger.tsx
Labels: refactor

#195 refactor: testnet icon in select Ledger address
  src/components/ledger/ImportWallets.tsx
Labels: refactor

#199 fix: styling for signature loader
  src/components/ledger/ApproveWithLedger.tsx
Labels: bugfix

#198 fix: text alignment for modal title
  src/components/connect/ErrorModal.tsx
Labels: bugfix

#172 refactor: ledger actions status message
  src/components/approve/ActionDetails.tsx
  src/components/approve/ApproveMessage.tsx
  src/components/approve/ApproveTransaction.tsx
  src/components/approve/ApproveVote.tsx
  src/components/ledger/ApproveWithLedger.tsx
  src/i18n/ns/pages.ts
  src/lib/Ledger/hooks/connection.ts
  src/pages/Approve.tsx
Labels: refactor

#200 refactor: connection modal styling
  src/components/approve/ActionBody.blocks.tsx
  src/components/wallet/ConnectedAddress.tsx
  src/components/wallet/address/Address.blocks.tsx
Labels: refactor

#197 fix: remove twMerge from text input class names
  src/shared/components/input/Input.tsx
Labels: bugfix

#201 feat: add transaction pending state
  src/assets/icons/pending.svg
  src/components/approve/ApproveTransaction.tsx
  src/i18n/ns/pages.ts
  src/lib/hooks/useConfirmedTransaction.tsx
  src/pages/TransactionApproved.tsx
  src/pages/VoteApproved.tsx
  src/shared/components/icon/index.generated.tsx
Labels: feature
