Repository ArdentHQ/arkconnect-extension, pull requests merged in 2024-02, with the labels that each got.

#5 refactor: remove unnecessary network parameters
  DOCUMENTATION.md
  src/ArkConnectInPageProvider.ts
  src/lib/hooks/useVoteForm.ts
  src/pages/Approve.tsx
Labels: refactor

#19 fix: action element cursor type
  src/components/approve/ApproveBody.tsx
  src/components/connect/ConnectWithWallet.tsx
  src/shared/components/button/RowLayout.tsx
Labels: bugfix

#22 fix: keep addresses trigger active state when dropdown is open
  src/shared/components/header/Header.tsx
Labels: bugfix

#21 fix: tooltips in action screen
  src/components/connect/WalletCard.tsx
  src/components/wallet/Amount.tsx
  src/components/wallet/address/Address.blocks.tsx
  src/shared/components/button/RowLayout.tsx
Labels: bugfix

#28 refactor: rename colours
  src/components/connections/ConnectionsList.tsx
  src/components/ledger/Step.tsx
  src/components/settings/SettingsOption.tsx
  src/components/wallet/AddressSettings.tsx
  src/components/wallet/ConnectedAddress.tsx
  src/components/wallet/ConnectionIndicator.tsx
  src/components/wallet/ConnectionStatus.tsx
  src/components/wallet/TestnetLabel.tsx
  src/pages/EnterPassword.tsx
  src/pages/ForgotPassword.tsx
  src/pages/Home.tsx
  src/pages/InitialImportWallet.tsx
  src/pages/Logout.tsx
  src/pages/SplashScreen.tsx
  src/shared/components/actions/ActionHeader.tsx
  src/shared/components/button/Button.tsx
  src/shared/components/button/RowLayout.tsx
  src/shared/components/header/AddressesDropdown.tsx
  src/shared/components/input/Checkbox.tsx
  src/shared/components/input/Input.tsx
  src/shared/components/input/PassphraseInput.tsx
  src/shared/components/input/RadioButton.tsx
  src/shared/components/input/Textarea.tsx
  src/shared/components/input/ToggleSwitch.tsx
  src/shared/components/loader/Loader.tsx
  src/shared/components/nav/ExternalLink.tsx
  src/shared/theme/categories/color.ts
Labels: refactor

#30 feat: add editor config
  .editorconfig
  .prettierrc.json
  package.json
  src/components/AutoUnlockWrapper.tsx
  src/components/Logo.tsx
  src/pages/Approve.tsx
  src/pages/Connect.tsx
  src/pages/Connections.tsx
  src/pages/CreateWallet.tsx
  src/pages/EnterPassword.tsx
  src/pages/ForgotPassword.tsx
  src/pages/Home.tsx
  src/pages/ImportWallet.tsx
  src/pages/ImportWithLedger.tsx
  src/pages/InitialImportWallet.tsx
  src/pages/Logout.tsx
  src/pages/Onboarding.tsx
  src/pages/SplashScreen.tsx
  src/pages/TransactionApproved.tsx
  src/pages/VoteApproved.tsx
  src/pages/WalletNotFound.tsx
  src/routing/index.ts
  src/tests/helpers.ts
  src/tests/utils.tsx
Labels: feature

#35 fix: incorrect color references
  src/components/wallet/TestnetLabel.tsx
  src/shared/components/input/Checkbox.tsx
  src/shared/components/input/RadioButton.tsx
Labels: bugfix

#32 fix: remove initial focus on modals
  src/components/settings/general/SelectNetworkTypeModal.tsx
  src/components/wallet/ConnectionStatus.tsx
Labels: bugfix

#27 fix: better handle ledger wallet default labels
  src/lib/Ledger/hooks/import.ts
  src/lib/utils/getDefaultAlias.ts
  src/pages/ImportWithLedger.tsx
Labels: bugfix

#33 fix: destructive button outline
  src/shared/components/button/Button.tsx
  src/shared/theme/categories/color.ts
Labels: bugfix

#25 refactor: make background profile non-nullable
  src/background.ts
  src/dev/utils/dev.ts
  src/lib/background/extension.ts
  src/lib/context/Profile.tsx
Labels: refactor

#36 fix: set mainnet network as default when resetting profile
  src/lib/context/Profile.tsx
Labels: bugfix

#37 chore: remove `SHORTER_CURRENCY_DIGITS_ALLOWED`
  src/components/connect/WalletCard.tsx
  src/constants.ts
  src/shared/components/button/RowLayout.tsx
Labels: chore

#39 fix: set as not onboarded if reset
  src/background.ts
Labels: bugfix

#8 refactor: cache coingecko response
  .env.example
  src/lib/hooks/useExchangeRates.ts
  src/lib/utils/localStorage.ts
Labels: refactor

#41 fix: default currency formatter locale to en-us if undefined
  src/components/ledger/SignMessage.tsx
  src/lib/utils/cropToMaxDigits.ts
  src/lib/utils/formatCurrency.ts
Labels: bugfix

#17 refactor: ledger address import redesign
  src/components/ledger/ImportWallets.tsx
  src/components/ledger/LedgerConnectionStep.tsx
  src/components/settings/SetupPassword.tsx
  src/components/steps/StepsNavigation.tsx
  src/pages/ImportWithLedger.tsx
  src/shared/theme/categories/color.ts
Labels: refactor

#34 fix: remove double outline in dark mode
  src/components/settings/SettingsMenu.tsx
  src/components/settings/SettingsOption.tsx
  src/main.css
  src/shared/components/button/Button.tsx
  src/shared/theme/categories/color.ts
Labels: bugfix

#50 fix: import address padding
  src/components/steps/StepsNavigation.tsx
  src/pages/ImportWithLedger.tsx
Labels: bugfix

#38 chore: tailwind initial config
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/css/variables.css
  src/main.css
  tailwind.config.js
Labels: chore

#44 chore: tailwind dark mode
  src/lib/hooks/useThemeMode.ts
  tailwind.config.js
Labels: chore
