Repository ArdentHQ/arkconnect-extension, pull requests merged in 2024-06, with the labels that each got.

#350 fix: navy theme tweaks
  public/icon/128.png
  public/icon/16.png
  public/icon/32.png
  public/icon/48.png
  src/css/buttons.css
  src/pages/Home.tsx
  tailwind.config.js
Labels: bugfix

#351 refactor: adjust destructive disabled button colors
  src/css/buttons.css
Labels: refactor

#353 refactor: action pages scrolling
  src/components/approve/ApproveBody.tsx
  src/components/approve/ApproveFooter.tsx
  src/components/approve/ApproveHeader.tsx
  src/components/approve/ApproveLayout.tsx
  src/components/approve/ApproveMessage.tsx
  src/components/approve/ApproveTransaction.tsx
  src/components/approve/ApproveVote.tsx
  src/components/approve/RequestedSignatureMessage.tsx
  src/components/connect/ConnectFooter.tsx
  src/pages/Approve.tsx
  src/pages/Connect.tsx
  src/pages/TransactionApproved.tsx
  src/pages/VoteApproved.tsx
  src/shared/components/actions/ActionHeader.tsx
  src/shared/components/actions/RequestedBy.tsx
Labels: refactor

#354 refactor: make button placement consistent
  src/components/address-book/AddContactButton.tsx
  src/components/address-book/SaveContactButton.tsx
  src/components/connections/ConnectionsList.tsx
  src/components/send/SendButton.tsx
  src/components/send/SendForm.tsx
  src/components/settings/SubPageLayout.tsx
  src/components/settings/general/ChangeLocalPassword.tsx
  src/components/settings/general/EditAddressName.tsx
  src/components/settings/general/ViewSensitiveInfo.tsx
  src/components/settings/general/YourPassphrase.tsx
  src/components/settings/general/YourPrivateKey.tsx
  src/components/settings/others/AutoLockTimer.tsx
  src/components/settings/others/ChangeLocalCurrency.tsx
  src/components/settings/others/MultipleWalletLogout.tsx
  src/components/transaction/details/TransactionBody.tsx
  src/components/wallet/AddressSettings.tsx
  src/css/buttons.css
  src/pages/AddressBook.tsx
  src/pages/Connections.tsx
  src/pages/CreateContact.tsx
  src/pages/CreateWallet.tsx
  src/pages/EditContact.tsx
  src/pages/ForgotPassword.tsx
  src/pages/Logout.tsx
  src/pages/Send.tsx
  src/pages/TransactionApproved.tsx
  src/pages/TransactionDetails.tsx
  src/pages/VoteApproved.tsx
  src/shared/components/layout/Footer.tsx
Labels: refactor

#355 fix: adjust colors for splash screen
  src/pages/SplashScreen.tsx
Labels: bugfix

#358 fix: adjust button styles
  src/components/settings/others/MultipleWalletLogout.tsx
  src/css/buttons.css
  src/i18n/ns/action.ts
  src/pages/Logout.tsx
  src/shared/components/button/Button.tsx
Labels: bugfix

#357 refactor: copy transaction id button
  src/components/approve/ActionBody.blocks.tsx
  src/components/transaction/details/CopyTransactionId.tsx
  src/components/transaction/details/TransactionBody.tsx
Labels: refactor

#364 refactor: make incoming amounts green
  src/components/transaction/details/AmountBadge.tsx
Labels: refactor

#363 refactor: remove obsolete cancel button on address removal page
  src/i18n/ns/action.ts
  src/pages/Logout.tsx
Labels: refactor

#366 refactor: use bignumber where relevant
  src/pages/Send.tsx
Labels: refactor

#367 fix: button placement consistency on onboarding pages
  src/components/settings/SetupPassword.tsx
Labels: bugfix

#365 refactor: adjust styles for receive page buttons
  src/components/receive/QRActionButtons.tsx
  src/components/receive/Recipient.tsx
  src/components/wallet/CopyAddress.tsx
Labels: refactor

#359 feat: add vote link and empty page
  src/components/settings/SettingsMenu.tsx
  src/i18n/ns/pages.ts
  src/pages/Vote.tsx
  src/routing/index.ts
Labels: feature

#369 refactor: make address tooltips consistent
  src/components/wallet/address/Address.blocks.tsx
Labels: refactor

#360 feat: add vote delegate list
  src/components/vote/DelegatesList.tsx
  src/components/vote/DelegatesListItem.tsx
  src/components/vote/DelegatesListItemSkeleton.tsx
  src/i18n/ns/pages.ts
  src/lib/hooks/useDelegates.ts
  src/pages/Vote.tsx
Labels: feature

#368 feat: vote action button
  src/components/vote/VoteButton.tsx
  src/pages/Vote.tsx
Labels: feature

#361 feat: search delegate input
  src/assets/icons/clear.svg
  src/assets/icons/search.svg
  src/components/vote/DelegatesSearchInput.tsx
  src/i18n/ns/pages.ts
  src/pages/Vote.tsx
  src/shared/components/icon/index.generated.tsx
  src/shared/components/input/Input.tsx
Labels: feature

#375 chore: update pnpm/action-setup
  .github/workflows/build.yml
  .github/workflows/deps.yml
  .github/workflows/format.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: chore

#376 refactor: implement i18n to address settings menu
  src/components/wallet/AddressSettings.tsx
  src/i18n/ns/pages.ts
Labels: refactor

#373 refactor: amount badges
  src/assets/icons/information.svg
  src/components/home/LatestTransactions.blocks.tsx
  src/components/transaction/Transaction.blocks.tsx
  src/components/transaction/details/AmountBadge.tsx
  src/css/variables.css
  src/shared/components/icon/index.generated.tsx
  tailwind.config.js
Labels: refactor

#377 refactor: adjust address card font weight
  src/components/wallet/AddressSettings.tsx
Labels: refactor

#370 feat: search delegates
  src/components/settings/SubPageLayout.tsx
  src/components/vote/DelegatesList.tsx
  src/components/vote/DelegatesListItem.tsx
  src/components/vote/DelegatesSearchInput.tsx
  src/i18n/ns/pages.ts
  src/lib/hooks/useDelegates.ts
  src/pages/Vote.tsx
Labels: feature

#371 feat: select/unselect delegate
  src/components/vote/DelegatesList.tsx
  src/components/vote/DelegatesListItem.tsx
  src/i18n/ns/pages.ts
  src/lib/hooks/useDelegates.ts
  src/pages/Vote.tsx
Labels: feature

#380 fix: adjust scrollbar color in firefox
  src/main.css
Labels: bugfix

#385 fix: add delegates count limit
  src/lib/hooks/useDelegates.ts
Labels: bugfix

#383 fix: adjust padding between list and button
  src/components/vote/DelegatesList.tsx
  src/pages/Vote.tsx
Labels: bugfix

#378 refactor: implement formik to vote page
  src/components/vote/DelegatesList.tsx
  src/components/vote/DelegatesListItem.tsx
  src/pages/Vote.tsx
Labels: refactor

#390 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
  src/components/approve/ActionDetails.tsx
  src/components/approve/ApproveBody.tsx
  src/components/approve/HigherCustomFee.blocks.tsx
  src/components/connect/ConnectWithWallet.tsx
  src/components/connect/ErrorModal.tsx
  src/components/connections/ConnectionLogoImage.tsx
  src/components/connections/EmptyConnections.tsx
  src/components/ledger/ApproveWithLedger.tsx
  src/components/settings/general/SelectNetworkTypeModal.tsx
  src/components/transaction/details/AmountBadge.tsx
  src/components/vote/DelegatesListItem.tsx
  src/components/wallet/DisconnectedAddress.tsx
  src/components/wallet/import/ImportedWallet.tsx
  src/css/buttons.css
  src/shared/components/button/RowLayout.tsx
  src/shared/components/header/AddressesDropdown.tsx
  src/shared/components/header/Header.tsx
  src/shared/components/progress/ProgressBar.tsx
Labels: chore

#391 fix: set custom popper strategy for transaction list
  src/components/home/LatestTransactions.blocks.tsx
Labels: bugfix

#392 refactor: get rid of unused class names
  src/components/settings/SubPageLayout.tsx
  src/main.css
Labels: refactor

#379 feat: implement fee section
  src/components/fees/FeeSection.tsx
  src/components/vote/VoteButton.tsx
  src/components/vote/VoteFee.tsx
  src/i18n/ns/pages.ts
  src/pages/Vote.tsx
Labels: feature

#384 fix: truncate delegate names at the end
  src/components/vote/DelegatesListItem.tsx
Labels: bugfix

#393 fix: adjust vote fee styles
  src/components/vote/VoteFee.tsx
  src/pages/Vote.tsx
Labels: bugfix

#382 refactor: display tooltip when balance is too low
  src/components/vote/VoteButton.tsx
  src/pages/Vote.tsx
Labels: refactor

#401 fix: allow editing in transaction fee
  src/components/vote/VoteFee.tsx
  src/pages/Vote.tsx
Labels: bugfix

#400 fix: change delegate address cursor
  src/components/wallet/address/Address.blocks.tsx
Labels: bugfix

#399 fix: infinite loading loop on voting errors
  src/components/approve/ApproveVote.tsx
Labels: bugfix

#398 fix: error message width and word break
  src/components/connect/ErrorModal.tsx
Labels: bugfix

#397 refactor: add missing text in delegate list
  src/i18n/ns/pages.ts
  src/pages/Vote.tsx
Labels: refactor

#395 fix: filter resigned delegates
  src/lib/hooks/useDelegates.ts
Labels: bugfix

#403 fix: allow use of fast preset fee
  src/constants.ts
  src/pages/Send.tsx
  src/pages/Vote.tsx
Labels: bugfix

#408 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#405 refactor: group amount fields in action body
  src/components/approve/ActionBody.tsx
Labels: refactor

#406 refactor: update amount badge styles
  src/components/transaction/details/AmountBadge.tsx
Labels: refactor

#407 fix: display sender full address
  src/pages/VoteApproved.tsx
Labels: bugfix

#404 refactor: unify vote swap name
  DOCUMENTATION.md
  src/components/approve/ApproveHeader.tsx
  src/components/approve/ApproveVote.tsx
  src/components/home/LatestTransactions.blocks.tsx
  src/components/ledger/ApproveWithLedger.tsx
  src/i18n/ns/common.ts
  src/i18n/ns/pages.ts
  src/pages/VoteApproved.tsx
Labels: refactor

#402 refactor: low fee warning
  src/components/approve/ActionBody.tsx
  src/components/approve/ApproveLayout.tsx
  src/components/approve/ApproveTransaction.tsx
  src/components/approve/ApproveVote.tsx
  src/components/approve/CustomFeeAlerts.blocks.tsx
  src/components/ledger/ApproveWithLedger.blocks.tsx
  src/i18n/ns/common.ts
  src/i18n/ns/misc.ts
  src/lib/hooks/useFees.ts
  src/lib/hooks/useSendTransferForm.ts
  src/lib/hooks/useVoteForm.ts
Labels: refactor

#411 refactor: display transaction
  src/components/approve/ActionBody.blocks.tsx
  src/components/approve/ActionDetails.tsx
Labels: refactor

#413 fix: display current voted delegate in delegate list
  src/lib/hooks/useDelegates.ts
Labels: bugfix

#410 refactor: unify approval headers
  src/components/approve/ApproveHeader.tsx
  src/i18n/ns/common.ts
Labels: refactor

#412 refactor: low fee alerts
  src/components/approve/ApproveTransaction.tsx
  src/components/approve/CustomFeeAlerts.blocks.tsx
Labels: refactor

#415 refactor: adjust padding in latest transaction items
  src/components/home/LatestTransactions.blocks.tsx
Labels: refactor

#409 fix: white screen when using custom fee
  src/components/send/SendForm.tsx
  src/constants.ts
  src/pages/Vote.tsx
Labels: bugfix

#417 refactor: ledger signature approval page
  src/components/approve/RequestedSignatureMessage.tsx
  src/components/ledger/ApproveWithLedger.blocks.tsx
  src/components/ledger/ApproveWithLedger.tsx
Labels: refactor

#418 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore
