Repository ArdentHQ/arkconnect-extension, pull requests merged in 2024-05, with the labels that each got.

#270 refactor: reduce fetching interval
  src/components/home/LatestTransactions.tsx
Labels: refactor

#271 refactor: dash color in transaction items
  src/components/home/LatestTransactions.blocks.tsx
Labels: refactor

#269 refactor: transactions accessibility
  src/components/home/LatestTransactions.blocks.tsx
  src/components/transaction/details/TransactionBody.tsx
  src/css/buttons.css
  src/css/variables.css
  tailwind.config.js
Labels: refactor

#272 refactor: handle transactions amounts
  src/components/home/LatestTransactions.utils.tsx
  src/components/wallet/Amount.tsx
Labels: refactor

#275 fix: display full vote/unvote address in tooltip
  src/components/approve/ActionBody.tsx
Labels: bugfix

#276 refactor: move fiat value to right
  src/components/transaction/Transaction.blocks.tsx
  src/components/transaction/details/TransactionBody.tsx
Labels: refactor

#273 refactor: display delegate address on hover
  src/components/transaction/details/TransactionBody.tsx
Labels: refactor

#274 refactor: show delegate name for resignation/registration transactions
  src/components/home/LatestTransactions.blocks.tsx
Labels: refactor

#278 feat: receive page basic structure
  package.json
  pnpm-lock.yaml
  src/components/receive/QRCodeContainer.tsx
  src/components/receive/Recipient.tsx
  src/components/receive/index.ts
  src/components/transaction/Transaction.blocks.tsx
  src/constants.ts
  src/i18n/ns/pages.ts
  src/lib/utils/generateReceiveURL.test.ts
  src/lib/utils/generateReceiveURL.ts
  src/pages/Receive.tsx
Labels: feature

#280 feat: handle amount and memo in receive page
  src/components/receive/QRCodeContainer.tsx
  src/i18n/ns/common.ts
  src/i18n/ns/error.ts
  src/i18n/ns/pages.ts
  src/lib/utils/generateReceiveURL.test.ts
  src/lib/utils/generateReceiveURL.ts
  src/shared/components/index.ts
  src/shared/components/input/Input.tsx
  src/shared/components/utils/Accordion.tsx
Labels: feature

#281 feat: empty address book page
  src/assets/icons/empty-address-book-dark.svg
  src/assets/icons/empty-address-book.svg
  src/assets/icons/users.svg
  src/components/address-book/AddContactButton.tsx
  src/components/address-book/NoContacts.tsx
  src/components/address-book/index.ts
  src/components/settings/SettingsMenu.tsx
  src/components/settings/SettingsOption.tsx
  src/components/settings/SubPageLayout.tsx
  src/i18n/ns/pages.ts
  src/pages/AddressBook.tsx
  src/routing/index.ts
  src/shared/components/icon/index.generated.tsx
  tailwind.config.js
Labels: feature

#279 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#284 fix: improve small amount styling
  src/components/wallet/Amount.tsx
Labels: bugfix

#285 fix: undo change to force small amounts
  src/components/wallet/Amount.tsx
Labels: bugfix

#283 feat: address book overview page
  src/components/address-book/AddressBookList.tsx
  src/components/address-book/index.ts
  src/components/settings/SubPageLayout.tsx
  src/pages/AddressBook.tsx
  src/shared/components/button/IconButton.tsx
  src/shared/components/index.ts
  tailwind.config.js
Labels: feature

#296 feat: pre-seeded address book for dev mode
  src/App.tsx
  src/lib/data/addressBook.ts
Labels: feature

#298 refactor: redirect on adding new contact
  src/i18n/ns/pages.ts
  src/pages/AddressBook.tsx
  src/pages/CreateContact.tsx
Labels: refactor

#293 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#299 refactor: address validation
  src/lib/store/wallet/index.ts
  src/pages/CreateContact.tsx
Labels: refactor

#300 fix: adjust config to work with vitest update
  package.json
  pnpm-lock.yaml
  vite.config.ts
Labels: bugfix

#297 feat: recipient address dropdown
  src/components/send/AddressDropdown.tsx
  src/components/send/SendForm.tsx
  src/components/send/index.ts
  src/shared/components/input/Input.tsx
Labels: feature

#302 fix: clear address book on resetting wallet
  src/App.tsx
  src/components/address-book/create/AddNewContactForm.tsx
  src/dev/utils/dev.ts
  src/lib/hooks/useResetExtension.ts
  src/pages/CreateContact.tsx
Labels: bugfix

#304 refactor: improve address validation naming
  src/pages/CreateContact.tsx
Labels: refactor

#305 fix: handle address validation issue for devnet
  src/pages/CreateContact.tsx
Labels: bugfix

#306 refactor: use arkvault-url to generate receive urls
  package.json
  pnpm-lock.yaml
  src/lib/utils/generateReceiveURL.test.ts
  src/lib/utils/generateReceiveURL.ts
Labels: refactor

#307 refactor: mimic Arkvault behaviour for address dropdown
  src/components/send/AddressDropdown.tsx
  src/constants.ts
  src/pages/CreateContact.tsx
  src/pages/EditContact.tsx
  src/shared/components/input/Input.tsx
Labels: refactor

#310 refactor: address dropdown behaviour
  src/components/send/AddressDropdown.tsx
Labels: refactor

#308 refactor: modify message on edit contact
  src/i18n/ns/pages.ts
  src/pages/EditContact.tsx
Labels: refactor

#311 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#316 refactor: display contact name on approval pages
  src/components/approve/ActionBody.blocks.tsx
  src/components/approve/ActionBody.tsx
  src/lib/hooks/useAddressBook.ts
Labels: refactor

#317 fix: validate address based on actual network
  src/pages/CreateContact.tsx
Labels: bugfix

#312 refactor: display contacts per network
  src/components/send/AddressDropdown.tsx
  src/lib/hooks/useAddressBook.ts
Labels: refactor

#314 feat: fee section for send page
  src/components/fees/FeeOption.tsx
  src/components/fees/FeeOptionsList.tsx
  src/components/fees/FeeSection.tsx
  src/components/fees/FeeTypeSwtich.tsx
  src/components/fees/index.ts
  src/components/receive/QRCodeContainer.tsx
  src/components/send/SendForm.tsx
  src/constants.ts
  src/css/inputs.css
  src/i18n/ns/common.ts
  src/i18n/ns/error.ts
  src/lib/hooks/useNetworkFees.ts
  src/pages/Send.tsx
  src/shared/components/input/NumericInput.tsx
  src/shared/components/input/ToggleSwitch.tsx
Labels: feature

#315 refactor: send transaction
  src/components/approve/ApproveTransaction.tsx
  src/components/fees/FeeSection.tsx
  src/components/send/AddressDropdown.tsx
  src/components/send/SendButton.tsx
  src/components/send/SendForm.tsx
  src/lib/context/ErrorHandler.tsx
  src/pages/Send.tsx
  src/pages/TransactionApproved.tsx
Labels: refactor

#321 refactor: display tooltip on send page if balance > 0
  src/components/send/SendForm.tsx
Labels: refactor

#323 fix: display correct transaction fee in approval pages
  src/components/ledger/ApproveWithLedger.blocks.tsx
Labels: bugfix

#320 fix: max digits for max button amount
  src/components/send/SendForm.tsx
  src/pages/Send.tsx
Labels: bugfix

#324 fix: avoid double scrollbars when address dropdown is open
  src/components/send/AddressDropdown.tsx
Labels: bugfix

#322 refactor: hide suggestions after pasting address on send page
  src/components/send/AddressDropdown.tsx
  src/components/send/SendForm.tsx
  src/i18n/ns/error.ts
  src/pages/Send.tsx
Labels: refactor

#325 fix: center input placeholder placement
  src/shared/components/input/Input.tsx
Labels: bugfix

#328 fix: increase icon in send and receive buttons
  src/components/home/TransactionButtons.tsx
  src/shared/components/button/Button.tsx
Labels: bugfix

#326 refactor: improve address dropdown handling
  src/components/send/AddressDropdown.tsx
  src/shared/components/input/Input.tsx
Labels: refactor

#327 fix: Ledger transactions using extension form
  src/components/approve/ApproveTransaction.tsx
  src/components/ledger/ApproveWithLedger.tsx
  src/pages/Approve.tsx
  src/pages/Send.tsx
Labels: bugfix

#330 refactor: display copy address button in address book
  src/components/address-book/AddressBookList.tsx
Labels: refactor

#331 fix: align address book suggestions
  src/components/send/AddressDropdown.tsx
Labels: bugfix

#332 fix: form resizes on errors
  src/components/send/SendForm.tsx
  src/pages/Send.tsx
Labels: bugfix

#333 refactor: persist send page and address book
  src/lib/background/contracts.ts
  src/pages/CreateContact.tsx
  src/pages/Send.tsx
  src/shared/components/nav/ArrowButton.tsx
Labels: refactor

#335 refactor: ensure contact addresses are unique
  src/pages/CreateContact.tsx
  src/pages/EditContact.tsx
Labels: refactor

#336 refactor: persist approval page
  src/pages/Approve.tsx
  src/pages/Send.tsx
Labels: refactor

#337 fix: emit primary address change from background
  src/OneTimeEventHandlers.ts
  src/lib/background/extension.wallet.ts
  src/shared/components/header/AddressesDropdown.tsx
Labels: bugfix

#340 fix: ignore duplication check when saving same address
  src/pages/EditContact.tsx
Labels: bugfix

#334 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#339 fix: display validation only if input has value
  src/components/address-book/ContactForm.tsx
Labels: bugfix

#343 fix: rename requested by call
  src/pages/Send.tsx
Labels: bugfix

#341 refactor: validate send form after loading previous data
  src/pages/Send.tsx
Labels: refactor

#347 fix: use proper bignumber comparison for amount
  src/pages/Send.tsx
Labels: bugfix

#346 feat: add theme switch
  public/icon/128.png
  public/icon/16.png
  public/icon/32.png
  public/icon/48.png
  public/icon/96.png
  src/assets/icons/logo-inverted.svg
  src/assets/icons/logo-text.svg
  src/assets/icons/sparkles.svg
  src/components/settings/SettingsMenu.tsx
  src/css/variables.css
  src/i18n/ns/pages.ts
  src/lib/hooks/useThemeMode.ts
  src/lib/store/ui/index.ts
  src/manifest.chrome.json
  src/manifest.firefox.json
  src/pages/SplashScreen.tsx
  src/shared/components/icon/index.generated.tsx
  tailwind.config.js
Labels: feature

#348 refactor: action header approval design
  src/components/approve/ActionBody.tsx
  src/components/approve/ActionDetails.tsx
  src/components/approve/ApproveVote.tsx
  src/components/ledger/ApproveWithLedger.blocks.tsx
  src/pages/Connect.tsx
  src/pages/TransactionApproved.tsx
  src/pages/VoteApproved.tsx
  src/shared/components/actions/ActionHeader.tsx
  tailwind.config.js
Labels: refactor

#349 feat: add navy illustrations
  src/assets/icons/connections-dark-green.svg
  src/assets/icons/connections-dark-navy.svg
  src/assets/icons/connections-empty-dark-green.svg
  src/assets/icons/connections-empty-dark-navy.svg
  src/assets/icons/connections-empty-dark.svg
  src/assets/icons/connections-empty-light-green.svg
  src/assets/icons/connections-empty-light-navy.svg
  src/assets/icons/connections-empty-light.svg
  src/assets/icons/connections-light-green.svg
  src/assets/icons/connections-light-navy.svg
  src/assets/icons/empty-address-book-dark-green.svg
  src/assets/icons/empty-address-book-dark-navy.svg
  src/assets/icons/empty-address-book-light-green.svg
  src/assets/icons/empty-address-book-light-navy.svg
  src/assets/icons/fingerprint-dark-green.svg
  src/assets/icons/fingerprint-dark-navy.svg
  src/assets/icons/fingerprint-light-green.svg
  src/assets/icons/fingerprint-light-navy.svg
  src/assets/icons/ledger-device-dark-green.svg
  src/assets/icons/ledger-device-dark-navy.svg
  src/assets/icons/ledger-device-light-green.svg
  src/assets/icons/ledger-device-light-navy.svg
  src/assets/icons/ledger-message-dark-green.svg
  src/assets/icons/ledger-message-dark-navy.svg
  src/assets/icons/ledger-message-light-green.svg
  src/assets/icons/ledger-message-light-navy.svg
  src/assets/icons/lock-dark-green.svg
  src/assets/icons/lock-dark-navy.svg
  src/assets/icons/lock-light-green.svg
  src/assets/icons/lock-light-navy.svg
  src/assets/icons/sparkles.svg
  src/assets/icons/transactions-passphrase-dark-green.svg
  src/assets/icons/transactions-passphrase-dark-navy.svg
  src/assets/icons/transactions-passphrase-light-green.svg
  src/assets/icons/transactions-passphrase-light-navy.svg
  src/components/address-book/NoContacts.tsx
  src/components/ledger/LedgerConnectionStep.tsx
  src/css/variables.css
  src/shared/components/icon/ThemedIcon.tsx
  src/shared/components/icon/illustration/ControlConnectionsIcon.tsx
  src/shared/components/icon/illustration/EmptyConnectionsIcon.tsx
  src/shared/components/icon/illustration/FingerprintIcon.tsx
  src/shared/components/icon/illustration/LockIcon.tsx
  src/shared/components/icon/illustration/TransactionsPassphraseIcon.tsx
  src/shared/components/icon/index.generated.tsx
  src/shared/components/icon/index.tsx
Labels: feature

#344 fix: trim contact name in create and edit forms
  src/components/address-book/ContactForm.tsx
  src/i18n/ns/error.ts
  src/lib/validation/addressBook.ts
  src/pages/CreateContact.tsx
  src/pages/EditContact.tsx
Labels: bugfix

#338 fix: remove sessions from settings
  src/components/wallet/DisconnectSessionModal.tsx
Labels: bugfix
